.MovieDescription {
  padding: 0.5em;
  background-color: var(--dark-light);
}

.MovieDescription-title {
  margin-bottom: 0.5em;
}

.MovieDescription-info {
  display: flex;
  justify-content: space-between;
}
